
.vs/PRA_B4_FOTOKIOSK/DesignTimeBuild/.dtbcache.v2
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/57612fc7-623b-424f-84c4-d797198b84f7.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/c188ce3c-9bf6-4ddb-8c04-8c56604b6580.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/d91f0cf8-4844-43ba-b414-944a9c5bac6d.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/ec588b78-171c-4c8c-953b-914c40730e52.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.suo
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.deps.json
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.exe
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.runtimeconfig.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/App.g.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/App.g.i.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/apphost.exe
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.baml
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.g.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.g.i.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.CoreCompileInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.FileListAbsolute.txt
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.g.resources
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.genruntimeconfig.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.lref
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/ref/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/refint/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.dgspec.json
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.props
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.targets
PRA_B4_FOTOKIOSK/obj/project.assets.json
PRA_B4_FOTOKIOSK/obj/project.nuget.cache
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f7bc76ba-1138-447c-89bd-2cab067696b8.vsidx
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/985a9744-383d-41cc-8efb-f80054b399a5.vsidx
