
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/10f364bb-4156-4d3e-adc9-fff6badf87a9.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/131092c4-978d-46c5-b083-18354314402b.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/a1019ae9-ca1c-4d09-94f6-6e8444027397.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/ee3fbb16-2528-4922-9be4-530d40d85541.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f10842b5-c2d4-4596-9f26-3ea27485cf2a.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.wsuo
.vs/PRA_B4_FOTOKIOSK/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.deps.json
bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.exe
bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.runtimeconfig.json
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/App.g.cs
obj/Debug/net6.0-windows/App.g.i.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/Home.baml
obj/Debug/net6.0-windows/Home.g.cs
obj/Debug/net6.0-windows/Home.g.i.cs
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.g.resources
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.genruntimeconfig.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2wmuwujm_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2wmuwujm_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2wmuwujm_wpftmp.assets.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2wmuwujm_wpftmp.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2wmuwujm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.lref
obj/Debug/net6.0-windows/ref/PRA_B4_FOTOKIOSK.dll
obj/Debug/net6.0-windows/refint/PRA_B4_FOTOKIOSK.dll
obj/PRA_B4_FOTOKIOSK.csproj.nuget.dgspec.json
obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.props
obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0-windows/App.g.cs
obj/Release/net6.0-windows/Home.g.cs
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.cache
obj/Release/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.lref
