
.vs/PRA_B4_FOTOKIOSK/DesignTimeBuild/.dtbcache.v2
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/57612fc7-623b-424f-84c4-d797198b84f7.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/c188ce3c-9bf6-4ddb-8c04-8c56604b6580.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/d91f0cf8-4844-43ba-b414-944a9c5bac6d.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/ec588b78-171c-4c8c-953b-914c40730e52.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.suo
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.deps.json
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.exe
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
PRA_B4_FOTOKIOSK/bin/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.runtimeconfig.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/App.g.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/App.g.i.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/apphost.exe
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.baml
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.g.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.g.i.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.CoreCompileInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.FileListAbsolute.txt
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.g.resources
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.genruntimeconfig.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.pdb
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.lref
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sqlrurce_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/ref/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/refint/PRA_B4_FOTOKIOSK.dll
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.dgspec.json
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.props
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.targets
PRA_B4_FOTOKIOSK/obj/project.assets.json
PRA_B4_FOTOKIOSK/obj/project.nuget.cache
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f7bc76ba-1138-447c-89bd-2cab067696b8.vsidx
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_d3ep1huh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ncx1dxcl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wjqcy1nz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/985a9744-383d-41cc-8efb-f80054b399a5.vsidx
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_155sexkn_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_155sexkn_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_155sexkn_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_155sexkn_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_155sexkn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2w2fqlyo_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2w2fqlyo_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2w2fqlyo_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2w2fqlyo_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_2w2fqlyo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_h1vjxumf_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_h1vjxumf_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_h1vjxumf_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_h1vjxumf_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_h1vjxumf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/58c0c842-63f7-47d9-9a4c-69603d174e65.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/04e29d85-4ed3-43df-9caa-65ee9ba3e455.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/59cc8b3e-2925-4da6-8129-ecec91801533.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/88a1dc37-27a1-4c2f-9744-4723f8e4ef59.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/8c6825b0-7793-4cd9-b22a-f77eec19fc3e.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/da2e84c6-7cd3-4469-ab53-e36e3806b4b8.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.futdcache.v2
.vs/PRA_B4_FOTOKIOSK/v17/fileList.bin
.vs/ProjectEvaluation/pra_b4_fotokiosk.metadata.v7.bin
.vs/ProjectEvaluation/pra_b4_fotokiosk.projects.v7.bin
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_lkf3zma1_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_lkf3zma1_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_lkf3zma1_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_lkf3zma1_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_lkf3zma1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wzkststx_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wzkststx_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wzkststx_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wzkststx_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_wzkststx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ztezwbbm_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ztezwbbm_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ztezwbbm_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ztezwbbm_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_ztezwbbm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.csproj.nuget.dgspec.json
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.csproj.nuget.g.props
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK_xl3cquve_wpftmp.csproj.nuget.g.targets
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/01afc5e9-9162-4e70-941f-04bd5afb1751.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/40ccd732-dc52-4cd5-aca8-5ea000f9b8db.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/532541a7-d445-4d1b-8d76-ad131a7f0db5.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/615ae7d5-a268-4efc-8fa8-c19ff4ac144b.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/6619a134-cf89-4481-8a5c-85418637104c.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/8a3af2be-4cdf-4d3f-ad40-48e3720388f9.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/99876ae5-72d2-41f2-9361-afb3926f1f36.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/b09afc75-ba19-472b-b9e9-deb73ff69e3e.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f6b4564a-52e7-4cd5-a787-6b1b99c83483.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f96f39d5-c2fc-4e8d-8e00-8f0baef99659.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/fd7cc640-1e13-4d51-9fa5-e522265f1d1d.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.futdcache.v2
.vs/ProjectEvaluation/pra_b4_fotokiosk.metadata.v7.bin
.vs/ProjectEvaluation/pra_b4_fotokiosk.projects.v7.bin
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.designer.deps.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.designer.runtimeconfig.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_0j3ho4rp_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_0j3ho4rp_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_0j3ho4rp_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_0j3ho4rp_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_0j3ho4rp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_1ss0n31d_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_1ss0n31d_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_1ss0n31d_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_1ss0n31d_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_1ss0n31d_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_a2ujdm00_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_a2ujdm00_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_a2ujdm00_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_a2ujdm00_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_a2ujdm00_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_b01qswwy_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_b01qswwy_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_b01qswwy_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_b01qswwy_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_b01qswwy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_dkqoaju1_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_dkqoaju1_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_dkqoaju1_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_dkqoaju1_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_dkqoaju1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_foj2llb5_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_foj2llb5_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_foj2llb5_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_foj2llb5_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_foj2llb5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_gqd1d011_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_gqd1d011_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_gqd1d011_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_gqd1d011_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_gqd1d011_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hayv5zkv_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hayv5zkv_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hayv5zkv_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hayv5zkv_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hayv5zkv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hukivhng_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hukivhng_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hukivhng_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hukivhng_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_hukivhng_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_rh2e5vyz_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_rh2e5vyz_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_rh2e5vyz_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_rh2e5vyz_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_rh2e5vyz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sbuwpezp_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sbuwpezp_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sbuwpezp_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sbuwpezp_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sbuwpezp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sstbqzz1_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sstbqzz1_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sstbqzz1_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sstbqzz1_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_sstbqzz1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_tf1q4my4_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_tf1q4my4_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_tf1q4my4_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_tf1q4my4_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_tf1q4my4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_yuumfkvj_wpftmp.AssemblyInfo.cs
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_yuumfkvj_wpftmp.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_yuumfkvj_wpftmp.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_yuumfkvj_wpftmp.csproj.BuildWithSkipAnalyzers
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_yuumfkvj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/532541a7-d445-4d1b-8d76-ad131a7f0db5.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/615ae7d5-a268-4efc-8fa8-c19ff4ac144b.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/6619a134-cf89-4481-8a5c-85418637104c.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/8a3af2be-4cdf-4d3f-ad40-48e3720388f9.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/99876ae5-72d2-41f2-9361-afb3926f1f36.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/f6b4564a-52e7-4cd5-a787-6b1b99c83483.vsidx
.vs/PRA_B4_FOTOKIOSK/v17/.futdcache.v2
.vs/ProjectEvaluation/pra_b4_fotokiosk.metadata.v7.bin
.vs/ProjectEvaluation/pra_b4_fotokiosk.projects.v7.bin
